.add-post{
    border: 1px solid rgba(128, 128, 128, 0.43);
    padding: 1rem;
    border-radius: 5px;
}
.add-post__title{
    font-size: 1.1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.43);
}
.add-post__content-input {
    font-size: 1rem;
    margin: 0.5rem 0;
    height: 10vh;
    overflow-wrap: break-word;
    border: none;
    outline: none;
    width: 100%;
}   
.add-post__image label{
    font-size: .89rem;
}
.add-post__image{
    border: 1px solid rgba(128, 128, 128, 0.43);
    border-radius: 5px;
    padding: 1rem;
}
.add-post__image-input {
    outline:none;
    width: 100%;
    font-size: 1rem;
    margin: 0.5rem 0;
    border: none;
}
.add-post__button{
    margin-top:.5rem;
    height: 45px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding:7px 0px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg,#73bac9,#586e72);
}
.add-post__button:hover{

    background: linear-gradient(-135deg, #73bac9,#586e72);
}
@media screen and (max-width: 968PX) {
    .add-post__content-input {
        font-size: .7rem;
        margin: 0rem;
        height: 9vh;
    }   
    .add-post__image label{
        font-size: .73rem;
        font-weight: 600;
    }
    .add-post__image-input{
        font-size: .8rem;
    }
    .add-post__button{
        margin-top: .8rem;
        border: none;
        height: 35px;
        font-size: .8rem;
 
    }
}
@media screen and (max-width: 860px) {
    .add-post__image-input{
        font-size: .74rem;
    }
  }
@media screen and (max-width: 760px) {
    .add-post__content-input {
        font-size: .64rem;
    }
    .add-post__image-input{
        font-size: .67rem;
    }
  }