main {
	padding-top: 8rem;
}
.message{
	text-align: center;
	margin-top: 2%;
	color: rgba(39, 117, 78, 0.6);
	font-size: 3rem;
	-webkit-background-clip: text;
    -moz-background-clip: text; 
     background-clip: text;
    color: transparent;
    text-shadow: #586e72 0px 3px 3px;
}