.post{
	display: flex;
	flex-direction: column;
	margin: 2rem 0rem;
	border: 1px solid #586e7233;
	border-radius: 3px;
	width: 110%;
    padding: .7rem 1rem 1rem 1rem;
}
.post__userInfo {
	display: flex;
	align-items: center;
}

.post__userImage1{
	width: 3.5rem;
	border-radius: 50px;
	margin: 0.5rem 1rem;
}
.post__content{
		display: flex;
	flex-direction: column;
}
.post__text{
	margin: 1rem;
	margin-bottom: 1rem;
}
.form{
	display: flex;
	align-items: center;
}
.post__userImage2{
	width: 3rem;
	border-radius: 50px;
	margin: 0.5rem 1rem 0.5rem 0 ;
}
.form__input {
	outline: none;
	margin: 0 0.5rem;
	font-size: 1rem;
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 0.5rem;
	width: 100%;
	border-bottom: 1px solid #586e7250;
}
.form__button{
    margin-top:.5rem;
    height: 42px;
    width: 5rem;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding:7px 0px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg,#73bac9,#586e72);
}
.form__button:hover{
	background-color: #586e72;
}
.post__like-button{
	background: none;
	border: none;
	outline: none;
}
.post__interactions{
	display: flex;
	align-items: center;
}
.post__interactions li,.post__adjustment li {
	margin: 0 0.6rem 0.5rem 0.2rem;
}

.post__like-icon {
	font-size: 1.3rem;
	cursor: pointer;
	
}
.heart__color{
	color: red;
}
.post__adjustment{
	height: 1.5rem;
	/* background-color: royalblue; */
	display: flex;
	justify-content: flex-end;

}
.post__adjustment li a i{
	font-size: 1.4rem;
	text-decoration: none;
	cursor: pointer;
	color: #586e72;
}
.post__adjustment li button{
	background: none;
	border: none;
	cursor: pointer;
	color: #586e72;
}
.post__adjustment li button i {
	font-size: 1.4rem;
}
.posts__message{
	text-align:center;	
}
.form__button:hover{

    background: linear-gradient(-135deg, #73bac9,#586e72);
}
@media screen and (max-width: 968px) {	
	.post{
		/* width: 100%; */
		width: 380px;
	}
	.post__adjustment{
		height: 1.3rem;
	}
	
	.form__input{
		font-size: .8rem;
	}
	.form__button{
		height: 35px;
    font-size: .8rem;	}
	
}
@media screen and (max-width: 860px) {
	.post{
		width: 100%;
	}
	.form__button{
	
		padding:0.5rem 1.3rem;
		font-size: .8rem;
	}
	.post__userImage2{
		width: 3rem;
		border-radius: 50px;
		margin: 0.5rem 0rem 0.5rem 0 ;
	}
	.post__adjustment li button i {
		font-size: 1rem;
	}
	
  }
  @media screen and (max-width: 760px) {
	.comment_container{
		font-size: .9rem;
	}
	.post__interactions li {
		font-size: .8rem;
	}
	.post__adjustment li button i {
		font-size: .8rem;
	}
  }
