*{
	box-sizing: border-box;
}
main {
	padding-top: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.sections-wrapper{
	display: flex;
	justify-content: space-evenly;
}
.user-friends__section,
.user-posts__section{
	display: flex;
	flex-direction: column;
	height: fit-content;
	padding: 2rem;
}
.user-posts__section{
	width: 50%;
}
.user-info__section{
	display: flex;
	align-items: center;
}
.user-friends__title{
	padding: 0.3rem;
	align-self: center;
	border-bottom: 1px solid rgba(128, 128, 128, 0.255);
}
section{
	margin-left: 1rem;
	margin-right: 1rem;
}
.message{
	text-align: center;
	margin-top: 2%;
	color: rgba(39, 117, 78, 0.6);
	font-size: 3rem;
	-webkit-background-clip: text;
    -moz-background-clip: text; 
     background-clip: text;
    color: transparent;
    text-shadow: #586e72 0px 3px 3px;
}


@media screen and (max-width: 860px) {
	.user-friends__section,
.user-posts__section{
	padding: 0rem 1rem 0rem 1rem;
}
}
@media screen and (max-width: 740px) {
 
}
