@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.user__profile__content{
	margin: 2rem auto 1rem auto;
	padding: 1rem;
}
.wrapper{
    padding: 1rem 0rem 0rem 6rem;
    display: flex;
}
.profile__img{
    width: 16rem;
    border-radius: 50%;
    padding-right: 2rem;
}
.user__full__name{
    display: flex;
    align-items: center;
}
.user__full__name >h2:first-child{
    padding: 100px 5px;
}

.user__full__name>h2{
    font-size: 1.65rem;
    font-family: 'Poppins', sans-serif;
}
.line{
    margin-top: 1.5rem;
    margin-left: 3.5rem;
    width: 70rem;
    height: 4px;
    background-color: #586e72;
    border-radius:50% ;
}
.about__container{
    display: flex;
    flex-direction: column;
}
.about ,.friends__list{
    margin: 1.2rem 0rem 0rem 9rem;
}
.about__div{
    width: 70%;
    margin-top: 1rem;
    padding-left: 7rem;
    display: flex;
   justify-content: space-between;
    flex-direction: row;
    align-items: center;

}
.about>h2,.friends__list>h2{
    font-size: 1.4rem;
    color: rgb(88, 87, 87);
}
.bold__span,.user__name{
    font-weight: 700;
}
span{
    color: rgb(124, 123, 123);
}
.users-list__user{
    padding: 0rem 0rem 1rem 14rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.user__image{
    width: 7rem;
    border-radius: 50%;
    padding-right: 1rem;

}

